html,body{
   margin:0px;
   padding:0px;
   height:100vh;
   overflow:hidden;
   background-image:url('../images/bgindex.png');
   background-size:cover;
   background-position: top;
   background-repeat:no-repeat;
   z-index:0;
} 
#praa{
    height:80px;
    width:100%;
    background-color:black;
    margin:0px;
    border:5px solid black;
}
#pra,#pra2,#pra8{
    margin:10px;
    float:right;
    height:50px;
    width:100px;
    font-size:30px;
    border-radius:15px;
}
#pra3{
    
        margin:10px;
        float:right;
        height:50px;
        width:500px;
        font-size:30px;
        text-align:center;
        border-radius:15px;
    
}
#pra4{
    height:300px;
    width:400px;
    margin:300px 0px 0px 300px;
    backdrop-filter:blur(15px);
    border:2px solid black;
    align-content:center;
    border-radius:15px;
    display:none;
}
#pra5,#pra10{
    display:none;
    height:500px;
    width:400px;
    margin:300px 0px 0px 300px;
    backdrop-filter:blur(15px);
    border:2px solid black;
    align-content:center;
    border-radius:15px;
    display:none;
}
#pra5 input,#pra4 input,#pra10 input{
    margin:30px 0px 10px 30px;
    height:30px;
    border-radius:15px;
    font-size:25px;
    text-align:center;
    }
    #pra9 label{
       margin:5px;
       font-size:30px;
       color:darkblue;
    }
    #pra9 input{
        height:20px;
        width:20px;

    }
#pra6{
    height:70px;
    width:100%;
    margin:-50px 0px 0px 0px;
    background-color:black;
    border:2px solid black;
    position:fixed;
    color:white;
    font-size:25px;

}
#pra6 ul li{
    list-style:none;
    position:relative;
    float:right;
}
#pra7{
    height:500px;
    width:400px;
    background-color:white;
    border:2px solid black;
    margin:100px;
    color:black;
    align-content:center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#pra11{
    height:105%;
    width:400px;
    background-color:black;
    border:2px solid purple;
    box-shadow:10px;
    border-radius:15px;
    margin:10px;
    position:relative;
    float:left;
    border:5px solid purple;
}
#pra13{
    margin:0px;
    padding:0px;
    height:auto;
    width:auto;
    background-color:white;
    border-radius:15px;
    border:5px solid purple;
}
#pra14{
    margin:10px 0px 0px 10px !important;
    height:50px !important;
    width:50px !important;
    position:absolute !important;
    border:2px solid black !important;
    border-radius:50px !important;
    background-image:url("../images/images.jpeg") !important;
    background-size:cover !important;
}
#pra15{
    height:auto;
    width:200px;
    margin:100px 0px 0px 400px;
    padding:20px;
    background-color:black;
    border:5px solid black;
    
}
#pra15 form{
    font-size: 25px;
    font-weight:bold;
    border-radius:30px;
    text-align:center;
    background-color:black;
}
#pra15 form label{
    font-weight:bold;
    font-size:25px;
    color:white;
}
#pra15 form input{
height:50px;
width:100%;
font-size: 35px;
text-align: center;
font-weight:bole;
margin-top:10px;
}

#pra16{
position:relative;
margin:15px 10px 100px 10px;
border-radius:30px; 
height:50px; 
width:50px; 
border:2px solid green; 
background-image:url('../images/logout.png'); 
background-size:cover;

}
#pra17{
position:relative; 
margin:15px 10px 10px 10px;
border-radius:30px; 
height:50px; 
width:50px; 
border:2px solid green;  
background-image:url('../images/upload.jpg'); 
background-size:cover;

}
#pra18{
height:50px;
display: flex; 
align-items: center; 
margin:10px 0px; 
background-color:black; 
display:none;
}
#pra19{
height:50px; 
width:400px; 
text-align:center; 
padding:20px; 
position:relative;
background-color:#fff;
border-radius:30px;
margin:0px;
z-index:9;

}
#pra20{
height:50px; 
width:50px;
margin-top:15px; 
background-image:url('../images/searchicon.png'); 
background-size:cover; 
background-position:center; 
border:5px solid black;
border-radius:30px;
background-color:white;


}
#pra22{
margin:65px 0px 0px 1510px;
    height:100vh;
    width:615px;
    background-color:#000;
    border:10px solid #a1f;
    z-index:2;
    position:fixed;
    display:flex;

}
#pra21{
margin:65px 0px 0px 0px;
    height:100vh;
    width:620px;
    background-color:#000;
    border:10px solid #a1f;
    z-index:2;
    position:fixed;



}
#pra23{
height:50px;
width:50px;
margin:20px;
border-radius:20px;
background-image: url('../images/filter.png');
background-size:cover;
border:2px solid black;
z-index:2;

}
#pra24{
height:350px;
width:500px;
padding:20px;
margin:5px;
border:5px solid red;
background-color:white;
font-size:25px;
font-weight:bold;
display:none;

}
#pra24 form input{
height:50px;
width:100%;




}
#pra27{
height:20px;
width:20px;
float:right;
z-index:4;
background-image:url('../images/close.jpg');
background-size:cover;


}
#pra28{
height:50px;
width:50px;
margin:20px;
border-radius:20px;
background-image: url('../images/cart.jpg');
background-size:cover;
border:2px solid black;
z-index:2;



}
#pra29{
height:300px;
width:100%;
display:flex;
padding:20px;
z-index:2;
background-color:white;


}
#pra30{

height:100px;
width:80%;
display:flex;
align-items: center;
padding:110px;

}
#pra30 form input{
    
    height:50px;
    width:auto;
    border-radius:30px;
    background-color:yellow;
    color:red; 
    font-weight:bold; 
    float:left;
    margin-left:50px;
    
}
#pra31{
height:0px;
width:300px;
margin-top:200px;
border:2px solid black;
background-color:red;
font-size:25px;
color:greenyellow;
font-weight:bold;
display:none;


}
#pra32{
height:auto;
width:350px;
padding:20px;
z-index:2;
display:none;
background-color:black;
margin-top:-40px;
margin-left:80px;
border:2px solid greenyellow;
border-radius:15px;
}
#pra32 a{
    text-decoration: none;
    color:inherit;
}